/*-- scss:defaults --*/
$theme: "cosmo" !default;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$headings-font-family: "ubuntu", sans-serif;
$font-family-base: "roboto", sans-serif;
$font-family-sans-serif: "roboto", sans-serif;

/*-- Additional custom styles --*/
p {
  font-family: $font-family-sans-serif;
}

/* Add any additional CSS rules below  */
.quarto-title-banner {
  color: black !important;
  background-color: white !important;
}

/* Logo */
.hex-logo {
  width: 120px;
  float: left;
  margin-right: 1em;
}
.logo-institution {
  height: 72px;
}

/* Front page */
#FrontPage {
  .band {
    color: black;
    padding: 0 5%;
    font-weight: 300;
    min-height: 160px;
    font-size: 24px;
    line-height: 40px;
  }

  .event {
    margin: 70px 40px 0 40px;
    padding: 40px;
    border: 1px solid #4F2680;
    background-color: #fcfcfc;
    color: #272626;
    line-height: 30px;
    font-size: 18px;
  }

  span.tagline {
    text-transform: uppercase;
    font-size: 1.2rem !important;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .band.first {
    background-color: #ffffff;

    margin-top: -140px;
    padding-top: 220px;

    /* background-image: url(images/tidy-back-01.svg); */
    background-repeat: no-repeat;
    background-size: 570px 690px;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
  }

  .band.second {
    background-color: #fcfcfc;
    border-bottom: solid 1pt #d9d9d9;
    border-top: solid 1pt #d9d9d9;

    padding-top: 120px;
    padding-bottom: 100px;

    /* background-image: url(images/tidy-back-02.svg); */
    background-repeat: no-repeat;
    background-size: 700px 952px;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
  }

  .band.third {
    background-color: #ffffff;

    padding-top: 100px;
    padding-bottom: 100px;

    /* background-image: url(images/tidy-back-03.svg); */
    background-repeat: no-repeat;
    background-size: 650px 450px;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
  }

  .hexBadges {
    display: inline-block;
    position: relative;
    width: 500px;
    margin-top: -130px;
    height: 600px;

    img {
      width: 120px;
      height: 139px;
      position: absolute;
      -webkit-transition-property: opacity;
      -moz-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;
      -webkit-transition-duration: 0.25s;
      -moz-transition-duration: 0.25s;
      -o-transition-duration: 0.25s;
      transition-duration: 0.25s;
    }

    img.r0.c0, img.r2.c0, img.r4.c0 {
      left: 0;
    }
    img.r0.c1, img.r2.c1, img.r4.c1 {
      left: 125px;
    }
    img.r0.c2, img.r2.c2, img.r4.c2 {
      left: 250px;
    }
    img.r0.c3, img.r2.c3, img.r4.c3 {
      left: 375px;
    }
    img.r1.c0, img.r3.c0, img.r5.c0 {
      left: 62px;
    }
    img.r1.c1, img.r3.c1, img.r5.c1 {
      left: 187px;
    }
    img.r1.c2, img.r3.c2, img.r5.c2 {
      left: 312px;
    }
    img.r1.c3, img.r3.c3, img.r5.c3 {
      left: 437px;
    }
    img.r0 {
      top: 0px;
    }
    img.r1 {
      top: 107.5px;
    }
    img.r2 {
      top: 215px;
    }
    img.r3 {
      top: 322.5px;
    }
    img.r4 {
      top: 430px;
    }
    img.r5 {
      top: 537.5px;
    }
  }

  /* size & position adjustments */
  @media screen and (max-width: 1023px) {
    .hexBadges {
      width: 350px;
    }
    .hexBadges img.r0.c2, .hexBadges img.r2.c2, .hexBadges img.r4.c2 {
      left: 125px;
    }
    .hexBadges img.r1.c2, .hexBadges img.r3.c2, .hexBadges img.r5.c2 {
      left: 187px;
    }
  }
}
